body {
    margin: 0;
    font-size: 15px;
}

header{
    background-image: url(../img/mahents-large-img-cropped.jpg);
    height: 100vh;
    background-size: cover;
    background-position: 50% 25%;
}

nav {
    position: fixed;
    width: 100%;
    z-index: 1;
    text-align: center;
}

nav li {
    display: inline-block;
    color: #303c6c;
    width: auto;
    padding: 10px 30px;
}

a {
    text-decoration: none;
    color: black;
}

.hello h1 {
    text-align: center;
    color: #faed26;
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

img {
    max-width: 100%;
}

h2 {
    margin-top: 0px;
}

.section-div {
    width: 80%;
    margin: 0px auto;
    padding: 50px 0;
    height: 100vh;
}

.section-head {
    text-align: center;
}

.welcome-section {
    background-color: #ececec;
    height: 100vh;
}

.welcome-section h3 {
    text-align: center;
    color: #5da2d5;

}

.about-me-section {
    background-color: white;
}

.leftside, .rightside {
    max-height: 100vh;
}

.leftside {
    text-align: left;
}

.leftside img {
    max-height: 100vh;
}

.rightside {
    padding: 40px 0;
}

.col-sm {
    padding: 0px;
}

.left-col-1 {
    background-color: #f78888;
}

.right-col-2 {
    background-color: #f3d250;
}

.left-col-3 {
    background-color: #90ccf4;
}

.project-section {
    padding-bottom: 30px;
}

.resume-section {
    background-color: #90ccf4;
    /* background-image: url(../img/desk.jpg); */
    background-repeat: no-repeat;
    background-size: 100%;
}

.download-resume {
    padding: 20px;
    text-align: center;
}

.social-media {
    text-align: center;
    padding: 20px;
}

footer {
    background-color: #f78888;
    margin: 0;
}

footer p {
    margin: 0;
    padding: 30px;
    text-align: center;
}