body {
    margin: 0;
}

header{
    background-image: url(../img/mahents-large-img-cropped.jpg);
    height: 100vh;
    background-size: cover;
    background-position: 50% 25%;
}

nav {
    position: fixed;
    width: 100%;
    z-index: 1;
    text-align: center;
}

nav li {
    display: inline-block;
    color: black;
    width: auto;
    padding: 10px 50px;
}

a {
    text-decoration: none;
}

.hello h1 {
    text-align: center;
    color: white;
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

img {
    max-width: 100%;
}

h2 {
    margin-top: 0px;
}

.section-div {
    width: 80%;
    margin: 0px auto;
    padding: 50px 0;
    height: 100vh;
}

.section-head {
    text-align: center;
}

.section-img {
    border-radius: 200px;
    width: 200px;
    border: dashed;
}

.about-me-section {
    background-color: #a8d4e1;
}

.about-me-section .col-sm {
    background-color: blanchedalmond;
    margin: 0 20px;
}

.project-section {
    padding-bottom: 30px;
}

.resume-section {
    background-color: #ffec81;
    background-image: url(../img/desk.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}

.download-resume {
    padding: 20px;
    text-align: center;
}

.social-media {
    text-align: center;
    padding: 20px;
}

footer {
    background-color: #a8d4e1;
    margin: 0;
    background-image: url(../img/mahents-large-img.jpg);
    background-size: 100%;
}

footer p {
    margin: 0;
    padding: 30px;
    text-align: center;
}